*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
body{
    background-color: silver;
    .second{
        position: absolute;
        height: 360px;
        width: 10px;
        background: goldenrod;
        top: 75%;
        left: calc(50% - 5px);
        border-radius: 5px;
        border: 2px solid black;
        animation: spin 60s linear infinite;
        transform-origin: top;
    }
    .minute {
        position: absolute;
        height: 300px; 
        width: 10px;
        background:rgb(0, 0, 0);
        top: 75%;
        left: calc(50% - 5px);
        border-radius: 5px;
        border: 2px solid goldenrod;
        animation: spin 3600s linear infinite;
        transform-origin: top;  
    }
    .hour{
        position: absolute;
        height: 220px;
        width: 10px;
        background:rgb(0, 0, 0) ;
        top: 75%;
        left: calc(50% - 5px);
        border-radius: 5px;
        border: 2px solid whitesmoke;
        animation: spin 216000s linear infinite;
        transform-origin: top;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
    
    .dot {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 18px;
        height: 18px;
        border-radius: 100px;
        background: goldenrod;
        border: 2px solid #000000;
        border-radius: 100px;
        margin: auto;
      }
}
