* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  background-color: silver;
}

body .second {
  position: absolute;
  height: 360px;
  width: 10px;
  background: goldenrod;
  top: 75%;
  left: calc(50% - 5px);
  border-radius: 5px;
  border: 2px solid black;
  -webkit-animation: spin 60s linear infinite;
          animation: spin 60s linear infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
}

body .minute {
  position: absolute;
  height: 300px;
  width: 10px;
  background: black;
  top: 75%;
  left: calc(50% - 5px);
  border-radius: 5px;
  border: 2px solid goldenrod;
  -webkit-animation: spin 3600s linear infinite;
          animation: spin 3600s linear infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
}

body .hour {
  position: absolute;
  height: 220px;
  width: 10px;
  background: black;
  top: 75%;
  left: calc(50% - 5px);
  border-radius: 5px;
  border: 2px solid whitesmoke;
  -webkit-animation: spin 216000s linear infinite;
          animation: spin 216000s linear infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
}

body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

body .dot {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background: goldenrod;
  border: 2px solid #000000;
  border-radius: 100px;
  margin: auto;
}
